@import "./index.html";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@media screen and (max-width: 575.98px) {
  * {
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
  }

  .wrap {
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f5f6;
    transform: none;
    /* margin-top: -34; */
    /* border: 2px solid red; */
    /* 問老師 */
  }

  /* header */
  header {
    display: flex;
    position: sticky;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 1s;
    width: 100%;
    /* margin: 0 auto; */
    z-index: 10;
    /* top: 7px; */
    top: 0px;
  }
  /* header:hover {
    background-color: rgba(255, 255, 255, 0.8);
  } */
  .logo {
    /* border: 2px rgb(252, 26, 26) solid; */
    width: 95%;
    height: 100%;
    margin-left: 12px;
    margin-top: 4px;
  }
  .logo img {
    width: 45px;
    height: 45px;
  }

  /* 選單icon */

  #menu_button {
    width: 5%;
    height: 32px;
    background-color: transparent;
    position: relative;
    margin-top: 10px;
    margin-right: 2%;
  }
  #menu_button .line:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  /* 選單頁 */
  .wrap_menu {
    display: none;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 20;
    /* border: yellow 10px solid; */
    margin: 0 auto;
    /* 介面 */
    background-color: #000;
  }

  .wrap_menu #exit_button .text:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }

  .wrap_menu #exit_button .text:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
  }

  #exit_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-left: 80%; */
    margin-right: 1%;
    margin-top: 5px;
    position: relative;
    background-color: transparent;
  }

  .wrap_menu_content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 5%;
    width: auto;
    height: 100%;
  }

  .menu_text {
    /* width: 220px; */
    height: 40%;
    color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    order: 2;
    /* font-weight: 200px; */
  }

  .menu_text h3 {
    font-weight: 600;
  }

  .menu_list {
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin-left: 4%;
    order: 1;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .menu_list .text {
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .menu_list .text p:nth-child(1) {
    font-size: 30px;
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
    line-height: 1;
    letter-spacing: 0.15em;
    font-weight: 800;
    width: 80%;
    /* 問老師 */
  }

  .menu_list .text p:nth-child(2) {
    font-size: 12px;
    width: 20%;
    text-align: right;
    padding-right: 30px;
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
  }
  .menu_list li {
    position: relative;
  }
  .menu_list li .text {
    display: flex;
    flex-direction: row;
  }
  .menu_list .number {
    display: none;
  }

  .menu_list .line {
    /* position: relative; */
    position: absolute;
    top: 40px;
    left: 0px;
    width: 95%;
    height: 1px;
    background-color: rgb(255, 255, 255);
  }

  /* .menu_list .line::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 100px;
  width: 2px;
  height: 50em;
  background-color: rgb(19, 19, 19);
} */

  .line_first {
    position: relative;
  }

  .menu_list a {
    text-decoration: none;
  }

  /* 關於 */
  .about {
    /* border: 5px rgb(255, 196, 0) solid; */
    background-color: #f4f5f6;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .about_top {
    /* width: 100%; */
    /* height: 164px;  */
    /* border: 2px rgb(24, 0, 245) solid; */
  }

  .about_top .text {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 35px;
    letter-spacing: 0.06em;
    padding-left: 6px;
  }

  .about_bottom {
    width: 100%;

    /* border: 2px rgb(24, 0, 245) solid; */
  }

  .about_bottom .text {
    width: 120px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 2px;
    padding: 0px;
    /* border: 1px solid #000; */
  }
  .about_bottom .text p {
    margin: auto;
    font-size: 8px;
  }

  .about_bottom .text p:nth-child(1) {
    margin-left: 9px;
  }

  .about_bottom .text p:nth-child(2) {
    position: relative;
  }

  .about_bottom .text p:nth-child(3) {
    margin-right: 9px;
  }

  .about_bottom .text p:nth-child(2)::before {
    content: "";
    width: 1px;
    height: 8px;
    background-color: #000;
    position: absolute;
    top: 3px;
    right: 30px;
  }

  .about_bottom .text p:nth-child(2)::after {
    content: "";
    width: 1px;
    height: 8px;
    background-color: #000;
    position: absolute;
    top: 3px;
    left: 30px;
  }

  /* 幻燈 */
  .carousel {
    width: 100%;
    /* height: 567px; */
    margin: auto;
  }

  .carousel-inner {
    width: 100%;
    /* height: 567px; */
    margin: auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    max-height: auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 100%;
    margin: 0 auto;
  }

  /* 標題 */
  .head_goal {
    width: 100%;
    /* border: 1px solid #000; */
    margin-top: 45px;
    position: relative;
    margin-bottom: -20px;
  }

  .head_goal .text {
    font-size: 36px;
    text-align: center;
  }

  .head_goal::after {
    content: "";
    width: 70px;
    height: 1px;
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0;
    margin: auto;
    background: rgb(53, 53, 53);
  }

  /* 概念 */
  .concept {
    /* display: flex; */
    width: 100%;
    margin: auto;
    margin-top: 60px;
  }

  .concept .text {
    line-height: 20px;
    width: 100%;
    padding-left: 20%;

    font-size: 12px;
    letter-spacing: 0.3em;
  }

  .concept .text p {
    margin: 12px 0;
  }

  .concept .text p:nth-child(1) {
    margin: 8px 0 35px 0;
  }

  .concept_img {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .concept img {
    max-width: 100%;
    height: auto;
  }

  /* 目的一 */

  .goal {
    /* width: 100%; */
  }

  .goal01 {
    width: 100%;
    /* height: auto; */
    margin: auto;
    /* border: 1px solid rgb(219, 6, 6); */
    margin-top: 12%;
  }

  .img01 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: -180px;
  }

  .goal01 img {
    max-width: 100%;
    height: anto;
    z-index: 1;
  }
  .goal01 .text01 {
  }

  .goal01 .text01 .topic {
    position: relative;
  }

  .goal01 .text01 .topic p {
    display: none;
  }

  .goal01 .text01 .topic h2 {
    font-size: 24px;
    /* border: 1px solid red; */
    padding-right: 4px;
    font-weight: 900;
    margin-top: -30%;
    background-color: #f4f5f6;
    writing-mode: vertical-lr;
    letter-spacing: 0.1em;
  }

  .goal01 .text01 .content p:nth-child(1) {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.2em;
    font-weight: 600;
  }

  .goal01 .text01 .content p:nth-child(2) {
    font-size: 12px;
    line-height: 28px;
    margin-top: 0px;
  }

  .goal01 .text01 .content {
    /* border: 1px solid rgb(0, 255, 76); */
    width: 80%;
    background-color: #f4f5f6;
    margin-left: 15%;
  }

  /* 目的二 */

  .goal02 {
    width: 100%;
    /* height: auto; */
    margin: auto;
    /* border: 1px solid rgb(219, 6, 6); */
    margin-top: 12%;
    display: flex;
    flex-direction: column;
  }

  .img02 {
    width: 90%;
    margin: 0 auto;
    /* margin-bottom: -180px; */
    order: 1;
  }

  .goal02 img {
    max-width: 100%;
    height: anto;
    z-index: 1;
  }
  .goal02 .text02 {
    order: 2;
  }

  .goal02 .text02 .topic {
    position: relative;
  }

  .goal02 .text02 .topic p {
    display: none;
  }

  .goal02 .text02 .topic h2 {
    font-size: 24px;
    /* border: 1px solid red; */
    padding-left: 4px;
    font-weight: 900;
    padding-bottom: 40px;
    float: right;
    background-color: #f4f5f6;
    writing-mode: vertical-lr;
    letter-spacing: 0.1em;
    margin-top: -40%;
  }

  .goal02 .text02 .content p:nth-child(1) {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.2em;
    font-weight: 600;
  }

  .goal02 .text02 .content p:nth-child(2) {
    font-size: 12px;
    line-height: 28px;
    margin-top: 0px;
  }

  .goal02 .text02 .content {
    /* border: 1px solid rgb(0, 255, 76); */
    width: 80%;
    background-color: #f4f5f6;
    margin-top: 5%;
    margin-left: 5%;
  }

  /* 背景 */
  .head_background {
    width: 100%;
    /* border: 1px solid #000; */
    margin-top: 45px;
    position: relative;
    margin-bottom: -20px;
  }

  .head_background .text {
    font-size: 36px;
    text-align: center;
  }

  .head_background::after {
    content: "";
    width: 70px;
    height: 1px;
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: rgb(53, 53, 53);
  }

  .background {
    margin-top: 45px;
    display: flex;
    width: 100%;

    /* position: relative; */
    /* border: springgreen 1px solid; */
  }

  .background .topic {
    font-size: 18px;
    width: 45%;
    padding-left: 8%;
    /* position: absolute; */
    line-height: 30px;
    letter-spacing: 0.15em;
  }

  .background .content {
    font-size: 12px;
    width: 55%;
    padding-right: 2%;
    padding-left: 3%;
    /* position: absolute; */
    line-height: 28px;
  }

  /* teemo */
  .teemo {
    margin-top: 60px;
    display: flex;
    width: 100%;
    /* border: tan solid 3px; */
  }

  .teemo_photo {
    width: 45%;
    padding-left: 10px;
  }

  .teemo_daily {
    width: 55%;
    padding-left: 6%;
  }

  .teemo_photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;

    /* margin-left: 203px; */
  }

  .teemo_daily h3 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.04em;
  }

  .teemo_daily p {
    margin-top: 1.4rem;
    line-height: 28px;
    font-size: 12px;
  }

  .teemo_daily .Line {
  }

  .teemo_daily .Line .text {
    margin-bottom: 8px;
  }

  .teemo_daily .Line .frame {
    position: relative;
    max-width: 559px;
    height: 70px;
    border: 1px solid rgb(202, 202, 202);
  }

  .teemo_daily .Line .frame:hover {
    background-color: #ebebeb;
    transition: 0.5s;
  }

  .teemo_daily .Line .frame img {
    position: absolute;
    top: calc(50% - 25px);
    margin-left: 0.6rem;
    width: 35%;
  }

  .teemo_daily .Line .frame p {
    position: absolute;
    top: calc(50% - 36px);
    /* margin-left: 12rem; */
    font-size: 10px;
    padding-left: 44%;
    letter-spacing: 0.08rem;
    color: #121212;
  }

  /* footer */
  .footer {
    margin-top: 60px;
    width: 100%;
    background-color: #121212;
    position: relative;
  }
  .arrow {
    display: block;
    width: 0px;
    margin-left: 90%;
  }

  .far {
    /* margin-top: 7%;
  margin-left: 90%; */

    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-top: 12px;
  }

  .footer_inner .body {
    display: flex;
    /* border: rgb(98, 0, 255) 1px solid; */
    margin-top: 15px;
    justify-content: space-between;
  }

  .footer_inner .body .left {
    /* border: springgreen 1px solid; */
    padding-left: 15px;
    padding-top: 8px;
  }

  .footer_inner .body .left .top {
    display: flex;
    justify-content: space-between;
  }

  .footer_inner .body .left .top li {
    list-style: none;
    color: #ffffff;
    font-size: 12px;
  }

  .footer_inner .body .left .botton .store {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }

  .footer_inner .body .left .botton .link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
  }

  .footer_inner .body .left .botton .link li {
    text-decoration: none;
    list-style: none;
    font-size: 8px;
    color: #acacac;
  }

  .footer_inner .body .left .botton .store .fas {
    font-size: 20px;
    color: #ffffff;
  }

  .footer_inner .body .left .botton .store .text {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    margin-left: 5px;
  }

  .footer_inner .body .right {
    /* border: rgb(3, 95, 49) 1px solid; */
    padding-right: 8px;
  }

  .footer_inner .body .right .top {
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }

  .footer_inner .body .right .top h3 {
    font-size: 60px;
    margin-left: 20%;
  }

  .footer_inner .body .right p {
    font-size: 28px;
    margin-top: -15px;
    margin-left: 21%;
  }

  .footer_inner .body .right .botton {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 8px;
  }

  .Tibame {
    /* border: 1px solid #acacac; */
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    color: rgb(255, 0, 0);
    font-size: 8px;
  }

  .Tibame .web {
    display: flex;
    gap: 15px;
  }
  .Tibame .web li {
    list-style: none;
    color: rgb(255, 251, 0);
  }
  .Tibame .web a {
    text-decoration: none;
  }
}
