@import "./index.html";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@media screen and (min-width: 576px) and (max-width: 1199.98px) {
  * {
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
  }

  .wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f5f6;
    transform: none;
    /* margin-top: -34; */
    /* border: 1px solid red; */
    /* 問老師 */
  }

  /* header */
  header {
    display: flex;
    position: sticky;
    height: 58px;
    background-color: transparent;
    transition: 1s;
    /* width: 100%; */
    /* margin: 0 auto; */
    z-index: 10;
    /* top: 7px; */
    top: 0px;
  }
  header:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .logo {
    /* border: 2px rgb(252, 26, 26) solid; */

    height: 100%;
    margin-left: -10px;
    width: 95%;
  }
  .logo img {
    height: 55px;
    margin-left: 30px;
  }

  /* 選單icon */

  #menu_button {
    width: 5%;
    min-width: 55px;
    height: 32px;
    margin-top: 10px;
    background-color: transparent;
    position: relative;
  }
  #menu_button .line:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 35px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 5px;
    width: 35px;
    height: 3px;
    background-color: #000;
  }

  /* 選單頁 */
  .wrap_menu {
    display: none;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 20;
    /* border: yellow 10px solid; */
    margin: 0 auto;
    /* 介面 */
    background-color: #000;
  }

  .wrap_menu #exit_button .text:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }

  .wrap_menu #exit_button .text:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
  }

  #exit_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-left: 10%; */
    margin-right: 1%;
    margin-top: 10px;
    position: relative;
    background-color: transparent;
  }

  .wrap_menu_content {
    display: flex;
    margin-left: 0;
    margin-top: 5%;
    width: 100%;
  }

  .menu_text {
    width: 20%;
    color: rgb(61, 61, 61);
    display: flex;
    padding-left: 30px;

    /* flex-direction: column; */
    /* font-weight: 200px; */
  }
  .menu_text h3 {
    font-size: 24px;
    font-weight: 600;
    writing-mode: vertical-rl;
  }

  .menu_text p {
    font-size: 14px;
    writing-mode: vertical-rl;
  }

  .menu_list {
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 40px;
  }

  .menu_list .text {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
  }

  .menu_list .text p:nth-child(1) {
    font-size: 48px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 1;
    letter-spacing: 0.15em;
    font-weight: 800;
    /* 問老師 */
  }

  .menu_list .text p:nth-child(2) {
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .menu_list li {
    position: relative;
  }
  .menu_list .number {
    position: absolute;
    color: #fff;
    font-size: 24px;
    margin-left: 1%;
    bottom: 6%;
  }

  .menu_list .line {
    /* position: relative; */
    position: absolute;
    top: -10px;
    left: 55px;
    width: 2px;
    height: 50em;
    background-color: #131313;
  }
  .menu_list #line {
    background-color: #ffffff;
  }
  /* .menu_list .line::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 100px;
  width: 2px;
  height: 50em;
  background-color: rgb(19, 19, 19);
} */

  .line_first {
    position: relative;
  }

  .menu_list a {
    text-decoration: none;
  }

  /* ========================footer =================== */
  .footer {
    margin-top: 100px;
    width: 100%;
    background-color: #121212;
    position: relative;
  }
  .arrow {
    display: block;
    width: 0px;
    margin-left: 90%;
  }

  .far {
    /* margin-top: 7%;
  margin-left: 90%; */

    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding-left: 90%;
    margin-top: 30px;
  }

  .footer_inner .body {
    display: flex;
    /* border: rgb(98, 0, 255) 1px solid; */
    margin-top: 20px;
    justify-content: space-between;
  }

  .footer_inner .body .left {
    /* border: springgreen 1px solid; */
    padding-left: 15px;
    margin-top: 20px;
  }

  .footer_inner .body .left .top {
    display: flex;
    gap: 35px;
  }

  .footer_inner .body .left .top li {
    list-style: none;
    color: #ffffff;
    font-size: 18px;
  }

  .footer_inner .body .left .botton {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .footer_inner .body .left .botton .store {
    display: flex;
    gap: 15px;
  }

  .footer_inner .body .left .botton .link {
    margin-top: 20px;
    gap: 45px;
    display: flex;
  }

  .footer_inner .body .left .botton .link li {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: #acacac;
  }

  .footer_inner .body .left .botton .store .fas {
    font-size: 40px;
    color: #ffffff;
  }

  .footer_inner .body .left .botton .store .text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 12px;
  }

  .footer_inner .body .right {
    /* border: rgb(3, 95, 49) 1px solid; */
    padding-right: 10px;
  }

  .footer_inner .body .right .top {
    color: rgb(255, 255, 255);
  }

  .footer_inner .body .right .top h3 {
    font-size: 88px;
    margin-left: 20%;
  }

  .footer_inner .body .right p {
    font-size: 41px;
    margin-top: -20px;
    margin-left: 20%;
  }

  .footer_inner .body .right .botton {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
  }

  .Tibame {
    /* border: 1px solid #acacac; */
    margin-top: 40px;
    width: 100%;
    padding: 8px;
    color: rgb(255, 0, 0);
    font-size: 10px;
  }

  .Tibame .web {
    display: flex;
    gap: 15px;
  }
  .Tibame .web li {
    list-style: none;
    color: rgb(255, 251, 0);
  }
  .Tibame .web a {
    text-decoration: none;
  }

  /* ============================frame================= */
  .wrap_balck {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    padding-top: 0.9vw;
  }

  .font_img {
    display: flex;
    /* margin-top: 150px; */
  }

  .font_img .font {
    /* border: solid 1px #fff; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1vw;
  }

  .font_img .font h3 {
    writing-mode: vertical-lr;
    font-size: min(7.5vw, 120px);
    font-weight: 600;
    letter-spacing: 0.6rem;
    margin-left: 65%;
  }

  .font_img .font p {
    font-size: min(3.5vw, 60px);
    line-height: 1.1em;
    margin-top: auto;
  }

  .photo_frame {
    width: 70%;
    height: 65vh;
    /* border: solid 1px #fff; */
    gap: 8px;
    overflow: hidden;
  }

  .photo_all {
    display: flex;
    transform: rotateZ(-6deg) translateX(-15%) translateY(-15%);
    gap: 8px;
  }

  .photo_all .photo {
    width: 40vw;
  }
  .photo_all .photo img {
    max-width: 100%;
  }
  .photo_col {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .photo_col:nth-child(1) {
    animation: photorun1 93s ease-out infinite;
  }

  .photo_col:nth-child(2) {
    animation: photorun2 85s ease-out infinite;
    /* animation-fill-mode: both; */
  }

  .photo_col:nth-child(3) {
    animation: photorun3 100s ease-out infinite;
  }

  @keyframes photorun2 {
    0% {
      margin-top: 0%;
      transform: translateY(0%);
    }

    100% {
      margin-top: 100%;
      transform: translateY(-100%);
    }
  }

  @keyframes photorun1 {
    0% {
      margin-top: 0%;
      transform: translateY(-10%);
    }

    100% {
      margin-top: 100%;
      transform: translateY(-100%);
    }
  }

  @keyframes photorun3 {
    0% {
      margin-top: 0%;
      transform: translateY(-5%);
    }

    100% {
      margin-top: 100%;
      transform: translateY(-100%);
    }
  }
  /* =================benefit_wrap=============== */
  .benefit_wrap {
    background-color: #000;
    /* display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 0; */
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
  }

  .shsh {
    /* position: absolute; */
    font-size: 16vw;
    /* top: 0; */
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    color: #fff;
    letter-spacing: 0.4em;
    text-align: center;
  }
  .benefit_wrap .left {
    width: 100%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .benefit_wrap .left h1 {
    color: #fff;
    padding-bottom: 0.5em;
  }
  .benefit_wrap .left p {
    color: rgb(124, 124, 124);
    line-height: 1.5em;
  }

  .benefit_wrap .photo {
    width: 80%;
    object-fit: cover;
  }
  .benefit_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .benefit_wrap .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 3em;
  }
  .benefit_wrap .right button {
    width: 100%;
    height: 10%;
    padding: 1em 0;
  }
  .font_bottom {
    font-size: min(1.5vw, 23px);
    /* border: 1px solid #fff; */
    width: 60%;
    margin-left: 30%;
    padding: 6vw 0 4vw 0;
  }

  .font_bottom p:nth-child(3) {
  }

  .font_bottom p:nth-child(2) {
  }

  .bottom_wrap {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    position: relative;
  }

  /* 耳多/眉毛 */
  .bottom_wrap::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 3px;
    top: 94px;
    left: 430px;
    background-color: #000;
    z-index: 0;
  }

  /* 毛髮 */
  .line02 {
    position: relative;
  }
  .line02_2 {
    position: relative;
  }

  .line02::after {
    position: absolute;
    content: "";
    width: 350px;
    height: 3px;
    top: 594px;
    left: 330px;
    background-color: #000;
  }

  .line02_2::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 70px;
    top: 527px;
    left: 330px;
    background-color: #000;
  }

  /* 尾巴形狀 */
  .line03 {
    position: relative;
  }
  .line03_2 {
    position: relative;
  }

  .line03::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 3px;
    top: 365px;
    left: 1100px;
    background-color: #000;
    z-index: 10px;
  }

  .line03_2::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 63px;
    top: 304px;
    left: 1348px;
    background-color: #000;
    z-index: 10px;
  }

  .bottom_wrap .text {
    font-size: 64px;
    writing-mode: vertical-lr;
    line-height: 1.2em;
    margin-left: 5%;
    margin-top: 30%;
  }

  .bottom_wrap .img {
    margin-left: 24%;
    position: relative;
  }

  .bottom_wrap .img_text {
    display: flex;
    flex-direction: column;
  }

  #img_text01 {
    width: 159px;
    position: absolute;
    z-index: 3;
    top: 110px;
    left: -120px;
  }

  #img_text02 {
    width: 287px;
    position: absolute;
    z-index: 3;
    top: 610px;
    left: -240px;
  }

  #img_text03 {
    width: 220px;
    position: absolute;
    z-index: 3;
    top: 380px;
    left: 625px;
  }
  .bottom_wrap .img_text h3 {
    font-size: 36px;
    font-weight: 400;
  }

  .bottom_wrap .img_text p {
    font-size: 16px;
  }
  .bottom_wrap .img_img01 img {
    border-radius: 50%;
    border: 4px solid #000;
    position: absolute;
    top: -20px;
    left: -355px;
    z-index: 1;
  }

  .img_img02 {
    position: absolute;
    top: 420px;
    left: -291px;
    width: 107px;
    height: 107px;
    border: 3px solid #000;
    border-radius: 50%;
  }

  .img_img03 {
    position: absolute;
    top: 200px;
    left: 725px;
    width: 107px;
    height: 107px;
    border: 3px solid #000;
    border-radius: 50%;
  }
  /* =======================color_wrap===================== */

  .color_wrap {
    padding: 80px;
    position: relative;
    display: block;
    width: 55%;
    height: 800px;
    margin: 60px auto 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .color_wrap .left {
    position: relative;
    /* border: 1px solid rgb(3, 104, 255); */
    padding-bottom: 115%;
    margin-left: -29%;
    width: 100%;
  }
  .color_wrap .left .back {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #ddd;
    top: 5%;
    left: auto;
    right: -58%;
    opacity: 1;
    width: 100%;
  }

  .color_wrap .left .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .color_wrap .left .photo img {
    /* position: absolute;
  top: 0;
  left: 0; */
    max-width: 100%;
  }
  .color_wrap .left .photo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color_wrap .right {
    position: absolute;
    top: 25%;
    right: auto;
    left: 48%;
    width: 50%;
    padding: 5%;
    /* height: 20em; */
    line-height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.6s;
  }

  .color_wrap .right:hover {
    transform: translateY(-5%);
  }

  .color_wrap2 {
    padding: 80px;
    position: relative;
    display: block;
    width: 55%;
    height: 800px;
    margin: 60px auto 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .color_wrap2 .left {
    position: relative;
    /* border: 1px solid rgb(3, 104, 255); */
    padding-bottom: 115%;
    margin-left: 29%;
    /* -29 */
    width: 100%;
  }
  .color_wrap2 .left .back {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #ddd;
    top: 5%;
    left: auto;
    right: 58%;
    opacity: 1;
    width: 100%;
  }

  .color_wrap2 .left .photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  .color_wrap2 .left .photo img {
    /* position: absolute;
  top: 0;
  left: 0; */
    /* right: 0; */
    max-width: 100%;
  }
  .color_wrap2 .left .photo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color_wrap2 .right {
    position: absolute;
    top: 25%;
    right: auto;
    left: 2%;
    width: 50%;
    padding: 5%;
    /* height: 20em; */
    line-height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.6s;
  }

  .color_wrap2 .right:hover {
    transform: translateY(-5%);
  }
  /* ================2=============== */

  .color_wrap3 {
    padding: 80px;
    position: relative;
    display: block;
    width: 55%;
    height: 800px;
    margin: 60px auto 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .color_wrap3 .left {
    position: relative;
    /* border: 1px solid rgb(3, 104, 255); */
    padding-bottom: 115%;
    margin-left: -29%;
    width: 100%;
  }
  .color_wrap3 .left .back {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #ddd;
    top: 5%;
    left: auto;
    right: -58%;
    opacity: 1;
    width: 100%;
  }

  .color_wrap3 .left .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .color_wrap3 .left .photo img {
    /* position: absolute;
  top: 0;
  left: 0; */
    max-width: 100%;
  }
  .color_wrap3 .left .photo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color_wrap3 .right {
    position: absolute;
    top: 25%;
    right: auto;
    left: 48%;
    width: 50%;
    padding: 5%;
    /* height: 20em; */
    line-height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.6s;
  }

  .color_wrap3 .right:hover {
    transform: translateY(-5%);
  }

  .color_wrap4 {
    padding: 80px;
    position: relative;
    display: block;
    width: 55%;
    height: 800px;
    margin: 60px auto 280px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .color_wrap4 .left {
    position: relative;
    /* border: 1px solid rgb(3, 104, 255); */
    padding-bottom: 115%;
    margin-left: 29%;
    /* -29 */
    width: 100%;
  }
  .color_wrap4 .left .back {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #ddd;
    top: 5%;
    left: auto;
    right: 58%;
    opacity: 1;
    width: 100%;
  }

  .color_wrap4 .left .photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  .color_wrap4 .left .photo img {
    /* position: absolute;
  top: 0;
  left: 0; */
    /* right: 0; */
    max-width: 100%;
  }
  .color_wrap4 .left .photo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color_wrap4 .right {
    position: absolute;
    top: 25%;
    right: auto;
    left: 2%;
    width: 50%;
    padding: 5%;
    /* height: 20em; */
    line-height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.6s;
  }

  .color_wrap4 .right:hover {
    transform: translateY(-5%);
  }
  /* ================shiba_wrap================= */
  .shiba_fixed {
    width: 100%;
    height: min(34vw, 400px);
    background-image: url(./cute-red-shiba-inu-dog-sleeps-grey-sofa-home-closeup.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .shiba_topic {
    font-size: min(3.5vw, 60px);
    text-align: center;
    padding-top: 90px;
  }

  .shiba_wrap .shiba_01 {
    display: flex;
    justify-content: flex-end;
    padding-right: 16vw;
    padding-top: 120px;
  }

  .shiba_01 .text {
    width: 35%;
    position: relative;
  }

  .shiba_01 .text img {
    position: absolute;
    bottom: 0;
    right: 12em;
    width: 7em;
  }
  .shiba_wrap .shiba_01 .photo {
    width: 30%;
    padding-top: 10%;
  }
  .shiba_wrap .shiba_01 .photo img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }

  .shiba_wrap .shiba_02 {
    display: flex;
    justify-content: flex-start;
    padding-left: 16vw;
    padding-top: 150px;
  }

  .shiba_02 .text {
    width: 35%;
    position: relative;
    padding-left: 1em;
    order: 2;
  }
  .shiba_02 .text img {
    position: absolute;
    bottom: -4.5em;
    right: 0;
    width: 6em;
  }
  .shiba_wrap .shiba_02 .photo {
    width: 30%;
    padding-top: 10%;
    order: 1;
  }
  .shiba_wrap .shiba_02 .photo img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }

  .shiba_wrap .shiba_03 {
    display: flex;
    justify-content: flex-end;
    padding-right: 16vw;
    padding-top: 150px;
  }

  .shiba_03 .text {
    width: 35%;
    position: relative;
  }

  .shiba_03 .text img {
    position: absolute;
    bottom: -5em;
    right: 0;
    width: 5em;
  }
  .shiba_wrap .shiba_03 .photo {
    width: 30%;
    padding-top: 10%;
  }
  .shiba_wrap .shiba_03 .photo img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
}
