@import "./register.html";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0 auto;
}

.wrap {
  width: 1440px;
  margin: 0 auto;
  background-color: #000000;
  /* margin-top: -34; */
  border: 2px solid transparent;
  /* 問老師 */
}

/* header */
header {
  display: flex;
  height: 58px;
  /* border: 2px #000 solid; */
  background-color: transparent;
  transition: 1s;
  width: 1440px;
  margin: 0 auto;
  margin-left: -2px;
  z-index: 10;
  position: fixed;
  /* top: 7px; */
  top: -1px;
}

header:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.logo {
  /* border: 2px rgb(252, 26, 26) solid; */
  width: 200px;
  height: 100%;
}
.logo img {
  width: 55px;
  height: 55px;
  margin-left: 30px;
  margin-top: 5px;
}

.header_text {
  /* border: 2px rgb(17, 0, 255) solid; */
  width: 1090px;
  height: 100%;
}

/* 選單icon */
.menu {
  /* border: tomato 1px solid; */
  position: relative;
  top: 12px;
  left: 1140px;
  display: flex;
  width: auto;
}

#menu_button {
  width: 45px;
  height: 32px;
  background-color: transparent;
}
.menu .line:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 3px;
  background-color: #000;
}

.menu .line:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;
  width: 35px;
  height: 3px;
  background-color: rgb(0, 0, 0);
}

.menu .line:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 5px;
  width: 35px;
  height: 3px;
  background-color: #000;
}

/* 選單頁 */
.wrap_menu {
  display: none;
  width: 1440px;
  height: 100vh;
  position: fixed;
  z-index: 20;
  /* border: yellow 10px solid; */
  top: 0;
  margin: 0 auto;
  /* 介面 */
  background-color: #000;
}

.wrap_menu #exit_button .text:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg);
}

.wrap_menu #exit_button .text:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
}

#exit_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 100px;
  left: 1150px;
  top: 10px;
  position: relative;
  background-color: transparent;
}

.wrap_menu_content {
  display: flex;
  margin-left: 0;
  margin-top: 130px;
  width: auto;
}

.menu_text {
  width: 220px;
  height: 220px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 530px;
  margin-left: 80px;
  /* font-weight: 200px; */
}

.menu_text h3 {
  font-weight: 600;
}

.menu_list {
  display: flex;
  list-style: none;
  margin-left: 140px;
  gap: 100px;
}

.menu_list .text {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.menu_list .text p:nth-child(1) {
  font-size: 96px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1;
  letter-spacing: 0.15em;
  font-weight: 800;
  /* 問老師 */
}

.menu_list .text p:nth-child(2) {
  font-size: 24px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.menu_list li {
  position: relative;
  height: 100%;
}
.menu_list .number {
  position: absolute;
  color: #fff;
  font-size: 64px;
  margin-left: -92px;
  bottom: 0px;
}

.menu_list .line {
  /* position: relative; */
  position: absolute;
  top: -10px;
  left: 100px;
  width: 2px;
  height: 50em;
  background-color: #131313;
}

/* .menu_list .line::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 100px;
  width: 2px;
  height: 50em;
  background-color: rgb(19, 19, 19);
} */

.line_first {
  position: relative;
}

.menu_list a {
  text-decoration: none;
}

/* register_wrap */
.register_wrap {
  /* border: 3px solid rgb(255, 0, 0); */
  margin-top: 150px;
  color: #fff;
}

.register_top {
  display: flex;
}

.register_top .text {
  display: flex;
  flex-direction: column;
}

.register_top .text_top {
  font-size: 96px;
  writing-mode: vertical-lr;
  margin-left: 320px;
}

.register_top .text_bottom {
  margin-top: auto;
  margin-left: 60px;
}

.register_top .text_bottom p:nth-child(1) {
  font-size: 64px;
}

.register_top .text_bottom p:nth-child(2) {
  font-size: 36px;
  margin-top: -20px;
}

.register_top .photo {
  margin-left: auto;
  position: relative;
}
.circle {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px #fff solid;
  top: 650px;
  left: 670px;
}

.fa-long-arrow-alt-down {
  font-size: 60px;
  position: relative;
  top: 40px;
  left: 47px;
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
}
.register_bottom {
  display: flex;
  margin-top: 100px;
}

.register_bottom .left {
  font-size: 16px;
  width: 688px;
  line-height: 2em;
  letter-spacing: 0.1em;
}

button .text {
  font-size: 18px;
}
.register_bottom {
  margin-bottom: 100px;
}

.register_bottom .left {
  margin-left: 62px;
  margin-top: 200px;
}
#right {
  margin-left: 300px;
  margin-top: 220px;
}
button {
  color: #000;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 76px;
  transition: 0.6s;
}

button:hover {
  background-color: rgb(199, 199, 199);
}

button .text {
  font-size: 20px;
  font-weight: 900;
}
