@import "./index.html";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@media screen and (max-width: 575.98px) {
  * {
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
  }
  /* html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  } */
  /* body {

    padding-right: 15px; /* Avoid width reflow 
  } */

  .wrap {
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f5f6;
    transform: none;
    /* margin-top: -34; */
    /* border: 1px solid red; */
    /* 問老師 */
  }

  /* header */
  header {
    display: flex;
    position: sticky;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 1s;
    width: 100%;
    /* margin: 0 auto; */
    z-index: 10;
    /* top: 7px; */
    /* border: 1px solid rgb(0, 47, 255); */
    top: 0px;
  }
  /* header:hover {
    background-color: rgba(255, 255, 255, 0.8);
  } */
  .logo {
    /* border: 2px rgb(252, 26, 26) solid; */
    width: 95%;
    height: 100%;
    margin-left: 12px;
    margin-top: 4px;
  }
  .logo img {
    width: 45px;
    height: 45px;
  }

  /* 選單icon */

  #menu_button {
    width: 5%;
    height: 32px;
    background-color: transparent;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    /* border: 1px solid rgb(255, 0, 191); */
  }

  #menu_button .line {
  }

  #menu_button .line:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  #menu_button .line:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 25px;
    height: 3px;
    background-color: #000;
  }

  /* 選單頁 */
  .wrap_menu {
    display: none;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 20;
    /* border: yellow 10px solid; */
    margin: 0 auto;
    /* 介面 */
    background-color: #000;
  }

  .wrap_menu #exit_button .text:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }

  .wrap_menu #exit_button .text:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
  }

  #exit_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-left: 80%; */
    margin-right: 1%;
    margin-top: 5px;
    position: relative;
    background-color: transparent;
  }

  .wrap_menu_content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 5%;
    width: auto;
    height: 100%;
  }

  .menu_text {
    /* width: 220px; */
    height: 40%;
    color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    order: 2;
    /* font-weight: 200px; */
  }

  .menu_text h3 {
    font-weight: 600;
  }

  .menu_list {
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin-left: 4%;
    order: 1;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .menu_list .text {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-end;
  }

  .menu_list .text p:nth-child(1) {
    font-size: 30px;
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
    line-height: 1;
    letter-spacing: 0.15em;
    font-weight: 800;
    width: 80%;
    /* 問老師 */
  }

  .menu_list .text p:nth-child(2) {
    font-size: 12px;
    width: 20%;
    text-align: right;
    padding-right: 30px;
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
  }
  .menu_list li {
    position: relative;
  }
  .menu_list li .text {
    display: flex;
    flex-direction: row;
  }
  .menu_list .number {
    display: none;
  }

  .menu_list .line {
    /* position: relative; */
    position: absolute;
    top: 40px;
    left: 0px;
    width: 95%;
    height: 1px;
    background-color: #131313;
  }
  .menu_list #line {
    background-color: #ffffff;
  }

  /* .menu_list .line::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 100px;
  width: 2px;
  height: 50em;
  background-color: rgb(19, 19, 19);
} */

  .line_first {
    position: relative;
  }

  .menu_list a {
    text-decoration: none;
  }

  /* ====================== footer ====================== */
  .footer {
    margin-top: 60px;
    width: 100%;
    background-color: #121212;
    position: relative;
  }
  .arrow {
    display: block;
    width: 0px;
    margin-left: 90%;
  }

  .far {
    /* margin-top: 7%;
  margin-left: 90%; */

    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-top: 12px;
  }

  .footer_inner .body {
    display: flex;
    /* border: rgb(98, 0, 255) 1px solid; */
    margin-top: 15px;
    justify-content: space-between;
  }

  .footer_inner .body .left {
    /* border: springgreen 1px solid; */
    padding-left: 15px;
    padding-top: 8px;
  }

  .footer_inner .body .left .top {
    display: flex;
    justify-content: space-between;
  }

  .footer_inner .body .left .top li {
    list-style: none;
    color: #ffffff;
    font-size: 12px;
  }

  .footer_inner .body .left .botton .store {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }

  .footer_inner .body .left .botton .link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 8px;
  }

  .footer_inner .body .left .botton .link li {
    text-decoration: none;
    list-style: none;
    font-size: 8px;
    color: #acacac;
  }

  .footer_inner .body .left .botton .store .fas {
    font-size: 20px;
    color: #ffffff;
  }

  .footer_inner .body .left .botton .store .text {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    margin-left: 5px;
  }

  .footer_inner .body .right {
    /* border: rgb(3, 95, 49) 1px solid; */
    padding-right: 8px;
  }

  .footer_inner .body .right .top {
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }

  .footer_inner .body .right .top h3 {
    font-size: 60px;
    margin-left: 20%;
  }

  .footer_inner .body .right p {
    font-size: 28px;
    margin-top: -15px;
    margin-left: 21%;
  }

  .footer_inner .body .right .botton {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 8px;
  }

  .Tibame {
    /* border: 1px solid #acacac; */
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    color: rgb(255, 0, 0);
    font-size: 8px;
  }

  .Tibame .web {
    display: flex;
    gap: 15px;
  }
  .Tibame .web li {
    list-style: none;
    color: rgb(255, 251, 0);
  }
  .Tibame .web a {
    text-decoration: none;
  }

  /* =================store_wrap====================== */

  .store_wrap {
    padding-top: 50px;
    /* border: rgb(255, 0, 0) 3px solid; */
  }

  .store_top {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: #000 1px solid; */
    padding: 4vw;
    padding-top: 0;
  }

  .store_top .text_left {
    font-size: min(8vw, 70px);
  }

  .store_top .text_right {
    /* display: flex; */
    font-size: min(3.2vw, 16px);
    padding-top: 4vw;
    letter-spacing: 0.15em;
    /* gap: 2vw; */
  }

  .store_top .text_right li {
    text-decoration: none;
    list-style: none;
    padding-top: 2vw;
    line-height: 2.6em;
    border-bottom: 1px solid rgb(161, 161, 161);
  }

  .store_top a {
    text-decoration: none;
    color: #000;
  }

  .store_top a:hover {
    color: #000;
  }

  /* =================storeitem_top=================== */

  .item_top {
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
    /* gap: 4vw; */
  }

  .item_top a {
    text-decoration: none;
    color: #000;
  }
  .item_top a:hover {
    color: #000;
  }

  .item_top a:hover .content .far {
    color: #ff0000;
  }
  .item_top .item_1 {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }

  .item_top .item_1 .text {
    font-size: 4vw;
    padding: 6vw;
  }
  .item_top .item_1 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }

  .item_top .item_1 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------2-------------- */
  .item_top .item_2 {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }

  .item_top .item_2 .text {
    font-size: 4vw;
    padding: 6vw;
  }
  .item_top .item_2 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_2 .photo img {
    max-height: 18em;
  }

  .item_top .item_2 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------3-------------- */
  .item_top .item_3 {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }

  .item_top .item_3 .text {
    font-size: 4vw;
    padding: 3.2vw;
  }
  .item_top .item_3 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_3 .photo img {
    max-height: 12em;
  }

  .item_top .item_3 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------4-------------- */
  .item_top .item_4 {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }

  .item_top .item_4 .text {
    font-size: 4vw;
    padding: 3.2vw;
  }
  .item_top .item_4 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_4 .photo img {
    max-height: 12em;
  }

  .item_top .item_4 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* =================storeitem_bottom=================== */

  .item_bottom {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 4vw;
    /* gap: 2vw; */
  }

  .item_bottom a {
    text-decoration: none;
    color: #000;
  }
  .item_bottom a:hover {
    color: #000;
  }

  .item_bottom a:hover .content .far {
    color: #ff0000;
  }
  .item_bottom .item_1 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    position: relative;
  }
  .item_bottom .item_1 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_1 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_1 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }

  .item_bottom .item_1 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------2-------------- */
  .item_bottom .item_2 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;

    position: relative;
  }

  .item_bottom .item_2 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_2 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_bottom .item_2 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_2 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------3-------------- */
  .item_bottom .item_3 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;

    position: relative;
  }

  .item_bottom .item_3 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_3 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_bottom .item_3 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_3 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }
  /* ================4=============== */
  .item_bottom .item_4 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    position: relative;
  }
  .item_bottom .item_4 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_4 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_4 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }

  .item_bottom .item_4 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------5-------------- */
  .item_bottom .item_5 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;

    position: relative;
  }

  .item_bottom .item_5 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_5 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_bottom .item_5 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_5 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------6-------------- */
  .item_bottom .item_6 {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;

    position: relative;
  }

  .item_bottom .item_6 .text {
    font-size: 3.6vw;
    padding: 3vw;
    padding-left: 1vw;
  }
  .item_bottom .item_6 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_bottom .item_6 .photo img {
    max-height: 5em;
    padding-left: 20px;
  }

  .item_bottom .item_6 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 12px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }
  /* ==============store_button================ */

  .store_button {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 4vw;
    /* gap: 2vw; */
  }

  .store_button .a1 {
    text-decoration: none;
    margin-right: 10px;
  }

  .store_button .a1:hover {
    color: rgb(255, 255, 255);
  }

  .store_button .a1 {
    width: 49%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .store_button .a1 .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  .store_button .item_1 .text01 {
    font-size: 3vw;
  }

  .store_button .a2 {
    text-decoration: none;
  }

  .store_button .a2:hover {
    color: rgb(0, 0, 0);
  }

  .store_button .a2 {
    width: 49%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

  .store_button .a2 .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .store_button .item_1 .text01 {
    font-size: 3vw;
  }
}
